/* header setting */
#logo{
    background-image: url(../img/pattern.png);
    height: 230px;
    background-color: rgb(17, 175, 228);
}
#the-booleaner{
    height: 100px;
    padding-left: 200px;
    padding-top: 100px;
}   
/* main setting */
.content{
    padding-left: 200px;
    padding-right: 200px;
}
h1{
    font-weight: 800;
    
}
.author{
    color: grey;
    font-weight: 600;
}
.word-color{
    color: rgb(44, 153, 226);
}
.paragraph-color{
    background-color: yellow;
}