/* header setting */
#logo{
    background-image: url(../img/pattern.png);
    height: 230px;
    background-color: rgb(17, 175, 228);
}
#the-booleaner{
    height: 100px;
    padding-left: 200px;
    padding-top: 100px;
}   
/* main setting */
.content{
    padding-left: 200px;
    padding-right: 600px;
}
h1{
    font-weight: 800;
    
}